 <footer class="footer">
    <p class="footer__contacto">
      Plaza España Av. Libertad 3099
    </p>
    <p class="footer__contacto">
      Tel 473-8791
    </p>
    <p class="footer__contacto">
      museoscaglia@gmail.com
    </p>
  </footer>