

<nav class="nav">
  <a class="nav__logo" href="">
    <span class="resaltar1">
      M</span>useo<span class="resaltar1">S</span>caglia
  </a>
  <ul class="nav__ul">
    <li class="nav__li active">
     <a class="nav__a " href="#">
        Inicio
      </a>
    </li>
    
    <li class="nav__li">
      <a class="nav__a" href="#presentacion">
        Presentacion
      </a>
    </li>
    <li class="nav__li">
      <a class="nav__a" href="#tematicas">
        Temáticas
      </a>
    </li>
    <li class="nav__li boton descarga">
      <a class="nav__a" download="96E2CF3749AC369A89F6EEAF9E88ABD672641F288519C39AF3B38F98021AE7EA.apk" href="/app-debug.apk">
        Descargar la App
      </a>
    </li>
  </ul>
  <div class="menu">
    
    <div class="menu__toggle-button">
      <div id="nav-icon4">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div> 
  </div>
<ul class="nav__ul--toggle">
    <li class="nav__li active">
      <a class="nav__a" href="#">
        Inicio
      </a>
    </li>
    <li class="nav__li">
      <a class="nav__a" href="#presentacion">
        Presentacion
      </a>
    </li>
    <li class="nav__li">
      <a class="nav__a" href="#tematicas">
        Temáticas
      </a>
    </li>
  </ul>
</nav>
