<nav class="nav admin">
  <a class="nav__logo" href="/">
    <span class="resaltar2">
      M</span>useo<span class="resaltar2">S</span>caglia
  </a>
  <ul class="nav__ul">
    <li class="nav__li">
     <a class="nav__a active" href="/admin/panel">
        Inicio
      </a>
    </li>
    <li class="nav__li">
     <a class="nav__a active" href="/admin/comentarios">
        Comentarios
      </a>
    </li>
    
    <li class="nav__li">
      <a class="nav__a" href="/admin/tematicas">
        Temáticas
      </a>
    </li>
    <li class="nav__li">
      <a class="nav__a" href="/admin/puntos">
        Puntos
      </a>
    </li>
  </ul>
  <div class="menu">
    
    <div class="menu__toggle-button">
      <div id="nav-icon4">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div> 
  </div>
<ul class="nav__ul--toggle">
  <li class="nav__li">
     <a class="nav__a active" href="/admin/panel">
        Inicio
      </a>
    </li>
    <li class="nav__li">
      <a class="nav__a" href="/admin/comentarios">
        Comentarios
      </a>
    </li>
    <li class="nav__li">
      <a class="nav__a" href="/admin/tematicas">
        Temáticas
      </a>
    </li>
    <li class="nav__li">
      <a class="nav__a" href="/admin/puntos">
        Puntos
      </a>
    </li>
  </ul>
</nav>
