<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Tailwind CSS Link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css"
    />

    <!-- Fontawesome Link -->
    <link
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      rel="stylesheet"
    />

    <title>
      Museo Scaglia
    </title>
    <link rel="stylesheet" href="/css/landing.css" />
  </head>
  <body>
    {{{body}}}
  </body>
 
  <div class="carga-container">
    <div class="snippet" data-title=".dot-bricks">
      <div class="stage">
        <div class="dot-bricks"></div>
      </div>
    </div>
  </div>
  <script src="/js/script.js"></script>
  <script src="/js/cargaEfecto.js"></script>
  <script src="/js/navEffects.js"></script>
</html>